<div class="container" id="stream">
    <div class="col-md-6 mx-auto">
        <div id="infoBlock">
            <div *ngIf="streamStarted">
                <div *ngIf="isAdmin; else isUser" id="text">Broadcast started!</div>
                <ng-template #isUser>
                    <div id="text">Hi, {{username}}!</div>
                </ng-template>
                <div id="actions">
                    <button *ngIf="isAdmin" id="closeConnection" routerLink="../../{{username}}" (click)="closeAllConnections()" mat-raised-button color="accent">{{buttonPlaceholders.end}}</button>
                </div>
                <!-- <div id="members">
                    <mat-card *ngFor="let member of members" class="member">{{member}}</mat-card>
                </div> -->
            </div>
        </div>
    </div>
</div>

<audio #audio></audio>
