<form [formGroup]="form" novalidate>
  <h2 mat-dialog-title>Вхід</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input [formControl]="form.controls.email" matInput [placeholder]="formPlaceholders.email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" [formControl]="form.controls.password" matInput [placeholder]="formPlaceholders.password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="login(form.value)" [disabled]="form.invalid">{{buttonPlaceholders.logIn}}</button>
    <button routerLink="/registration" (click)="dialogRef.close()" mat-raised-button color="accent">{{buttonPlaceholders.signUp}}</button>
  </mat-dialog-actions>
</form>
