@import "../../theme";
@import "../shared/styles/const";

#profile {
  #title {
    min-height: 200px;
    text-align: center;
    #img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: $radius;
      border: 3px solid mat-color($app-primary);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #info {
      #name {
        font-size: 40px;
        font-weight: bold;
      }
      #style {
        font-weight: lighter;
      }
      #description {
        margin-top: 20px;
      }
    }
    #subscribe{
      color: white;
      margin-top: 20px;
      height: 30px;
      line-height: 30px;
    }
    #socialInfo{
      #info{
        color: grey;
        font-weight: 100;
        margin-top: 10px;
        overflow: hidden;
        transition: ease .2s all;
        span{
          &:first-child{
            cursor: pointer;
          }
          &:last-child{
            margin-left: 15px;
          }
        }
      }
      i[class="fa fa-sort-down"], i[class="fa fa-sort-up"]{
        font-size: 30px;
        color: mat-color($app-primary);
        cursor: pointer;
      }
    }
  }
  #category {
    text-align: center;
    width: 100%;
    margin: 50px auto 0 auto;
    border-bottom: 1px solid lighten(black, 90%);
    padding-bottom: 15px;
    .categ {
      cursor: pointer;
      margin: 5px 10px;
      font-size: 20px;
      font-weight: lighter;
      &.active {
        border-bottom: 1px solid mat-color($app-warn);
        color: mat-color($app-warn);
      }
      &:hover {
        color: mat-color($app-warn);
      }
    }
  }
  #audios {
    margin: 20px 0;
    .track-block {
      margin-top: 20px;
      .track {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        background-color: mat-color($app-primary);
        border-radius: 18px 0 0 18px;
        color: white;
        margin: 10px 0;
        .num {
          width: 30px;
          height: 30px;
          margin-top: 5px;
          text-align: center;
          line-height: 31px;
          float: left;
          background-color: white;
          border-radius: 50%;
          color: mat-color($app-primary);
        }
        .name {
          margin-left: 20px;
        }
        .play-btn {
          float: right;
          width: 80px;
          height: 100%;
          margin-right: -10px;
          text-align: center;
          background-color: white;
          border-left: 1px solid mat-color($app-warn);
          .fa {
            line-height: 40px;
            font-size: 25px;
            color: mat-color($app-primary);
            cursor: pointer;
            &:active {
              font-size: 23px;
            }
          }
        }
      }
      .track-info{
        width: 90%;
        padding: 0px;
        height: 1px;
        background-color: mat-color($app-light);
        margin: -10px auto;
        transition: ease .2s all;
        audio{
          display: none;
          width: 100%;
        }
      }
    }
  }
  #audiosEmpty{
    text-align: center;
    padding: 10px;
    color: mat-color($app-light);
  }
}
