<div class="container" id="profile">
  <div class="col-md-8 mx-auto">
    <div id="title" class="col-md-12">
      <div id="img"></div>
      <div id="info">
        <div id="name">Andrii Kazmyrovych</div>
        <div id="style">Midwest Emo</div>
        <div id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit aliquam error omnis, libero ex voluptate blanditiis
          et molestiae porro maxime.</div>
      </div>
    </div>
    <div class="col-md-12">
      <div id="category">
        <span class="categ active">Audio</span>
        <span class="categ">Video</span>
      </div>
      <div id="audios">
        <div class="track-block" *ngFor="let song of songs; let i = index">
          <mat-card class="track">
            <div class="num">{{i+1}}</div>
            <span class="name">{{song.name}}</span>
            <div class="play-btn">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </mat-card>
          <div class="track-info">
            <div id="waveform-{{i}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
